---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
const pluginsRaw = await fetch('https://raw.githubusercontent.com/joplin/plugins/master/manifests.json').then(res => res.json());
const statsRaw = await fetch('https://raw.githubusercontent.com/joplin/plugins/master/stats.json').then(res => res.json());
  
  return Object.values(pluginsRaw).map((plugin) => {
    return {
      params: { id: plugin.id },
      props: { plugin, statsRaw },
    };
  });
}

const { id } = Astro.params;
const { plugin, statsRaw } = Astro.props;
---

<Layout title={`${plugin.name} - Joplin Plugins`}>
  <main>
    <div class="container my-5">
      <div class="row">
        <!-- Main Section -->
        <div class="col-8">
          <div class="card px-4 py-4 shadow">
            <div class="card-body">
              <h5 class="pb-3">
                { plugin._recommended ? <span class="plugin-recommended me-2 badge text-black">Recommended</span>:<></>}
                {plugin.categories != null ?
                plugin.categories.map(category => (
                <span class="plugin-category me-2 badge bg-secondary">{category}</span>
                )):<></>}
              </h5>

              <h3 class="card-title">{plugin.name}</h3>
              <h3 class="card-title pb-4">{`By`} <div style="display: inline;" class="text-primary">{plugin.author}
                </div>
              </h3>

              <p class="card-text pb-4">{plugin.description}</p>
              <div class="row">
                <div class="col-6">
                  <a href="#" class="btn btn-sencondary w-100">Download Plugin</a>
                </div>
                <div class="col-6">
                  <a href="#" class="btn btn-primary w-100">Get Plugin in Joplin</a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Info Section -->
        <div class="col-4">
          <div class="card px-2 py-2 shadow">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Author</div>
                    {plugin.author}
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Version</div>
                    {plugin.version}
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Minimal App Version</div>
                    {plugin.app_min_version}
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Downloads</div>
                    {statsRaw[plugin.id][plugin.version].downloadCount}
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Last Updated</div>
                    {statsRaw[plugin.id][plugin.version].createdAt}
                  </div>
                </li>
                { plugin.repository_url !== null ?
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Repository</div>
                    <a href={plugin.repository_url}>{plugin.repository_url}</a>
                  </div>
                </li>:<></>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
  }

  .plugin-recommended {
    text-transform: capitalize;
    margin-top: -4px;
    background-color: rgb(255, 217, 47);
  }
</style>